:root {
  --blue: #2a4dd0;
  --white: #ffffff;
  --light-blue: #f2f9fe;
  --dark: #111729;
  --grey: #223344;
}

body,
h1,
h2,
h3,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--light-blue);
  font-size: 16px;
  color: var(--dark);
}

ul {
  list-style: none;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 24px;
}
.nav .menu-button {
  background-color: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 640px) {
  .nav {
    padding: 32px;
  }
  .nav .logo {
    width: 150px;
  }
}
@media screen and (min-width: 1025px) {
  .nav {
    padding: 28px 72px;
  }
  .nav .logo {
    height: initial;
    width: initial;
  }
}

@media screen and (min-width: 1025px) {
  #homepage {
    padding: 0px 72px;
  }
}
@media screen and (min-width: 1025px) {
  #homepage {
    padding-top: 64px;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
}
@media screen and (min-width: 1025px) {
  .container {
    flex-direction: row-reverse;
    column-gap: 32px;
  }
}

.image-container {
  margin-top: 36px;
  margin-bottom: 96px;
  padding: 0 8px;
}
.image-container img {
  width: 100%;
}
@media screen and (min-width: 640px) {
  .image-container {
    padding: 0px;
  }
  .image-container img {
    width: 60%;
    margin: 0 auto;
    display: block;
  }
}
@media screen and (min-width: 1025px) {
  .image-container {
    margin: 0;
    flex: calc(50% - 32px);
  }
  .image-container img {
    width: 100%;
  }
}

.text-container {
  padding: 0px 36px;
}
@media screen and (min-width: 640px) {
  .text-container {
    padding: 0px 120px;
  }
}
@media screen and (min-width: 1025px) {
  .text-container {
    padding: 0px;
    flex: calc(50% - 32px);
  }
}

.title {
  font-size: 42px;
  margin-bottom: 24px;
  color: var(--grey);
  width: 80%;
}
@media screen and (min-width: 640px) {
  .title {
    font-size: 52px;
  }
}
@media screen and (min-width: 1025px) {
  .title {
    font-size: 60px;
    margin-bottom: 32px;
  }
}

.subtitle {
  font-size: 10px;
  font-weight: 500;
  margin-bottom: 12px;
  text-transform: uppercase;
}
.subtitle span {
  margin-right: 4px;
}
@media screen and (min-width: 640px) {
  .subtitle {
    font-size: 14px;
  }
}

.paragraph {
  margin-bottom: 40px;
  color: var(--grey);
  font-size: 12px;
}
@media screen and (min-width: 640px) {
  .paragraph {
    font-size: 18px;
    width: 50%;
  }
}
@media screen and (min-width: 1025px) {
  .paragraph {
    width: 90%;
    margin-bottom: 22px;
  }
}

.list {
  display: flex;
  column-gap: 20px;
}

.list-items {
  display: flex;
  align-items: center;
  column-gap: 4px;
}
@media screen and (min-width: 640px) {
  .list-items {
    column-gap: 8px;
  }
}
.list-items span {
  font-size: 10px;
}
@media screen and (min-width: 640px) {
  .list-items span {
    font-size: 14px;
  }
}
.list-items img {
  width: 18px;
}

.button-group {
  display: flex;
  column-gap: 32px;
  align-items: center;
  margin-bottom: 40px;
}

.primary-button {
  display: block;
  background-color: var(--blue);
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 12px;
  text-transform: uppercase;
  color: var(--white);
  font-weight: 500;
}
@media screen and (min-width: 640px) {
  .primary-button {
    font-size: 16px;
    padding: 16px 32px;
    border-radius: 12px;
  }
}

.inline-button {
  color: var(--blue);
  display: block;
  font-weight: 500;
  background-color: transparent;
  border: none;
  font-size: 12px;
  padding: 0;
  height: fit-content;
  border-bottom: 2px solid var(--blue);
}
@media screen and (min-width: 640px) {
  .inline-button {
    font-size: 16px;
  }
}

/*# sourceMappingURL=style.css.map */
