#homepage {
  @media screen and (min-width: 1025px) {
    padding: 0px 72px;
  }

  @media screen and (min-width: 1025px) {
    padding-top: 64px;
  }
}

.container {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;

  @media screen and (min-width: 1025px) {
    flex-direction: row-reverse;
    column-gap: 32px;
  }
}

.image-container {
  margin-top: 36px;
  margin-bottom: 96px;
  padding: 0 8px;

  img {
    width: 100%;
  }

  @media screen and (min-width: 640px) {
    padding: 0px;
    img {
      width: 60%;
      margin: 0 auto;
      display: block;
    }
  }

  @media screen and (min-width: 1025px) {
    margin: 0;
    flex: calc(50% - 32px);
    img {
      width: 100%;
      transform: translateY(20px);
    }
  }
}

.text-container {
  padding: 0px 36px;

  @media screen and (min-width: 640px) {
    padding: 0px 120px;
  }

  @media screen and (min-width: 1025px) {
    padding: 0px;
    flex: calc(50% - 32px);
  }
}
