.list {
  display: flex;
  column-gap: 20px;

  .list-items {
    display: flex;
    align-items: center;
    column-gap: 4px;

    @media screen and (min-width: 640px) {
      column-gap: 8px;
    }

    span {
      font-size: 10px;

      @media screen and (min-width: 640px) {
        font-size: 14px;
      }
    }

    img {
      width: 18px;
    }
  }
}
