$blue: #2a4dd0;
$white: #ffffff;
$light-blue: #f2f9fe;
$grey: #223344;
$light-grey: #909193;
$dark: #111729;

// Themes
$light: (
  title-color: $grey,
  background-color: $light-blue,
  text-color: $dark,
  paragraph-color: $grey,
  nav-item-color: $dark,
  nav-item-active-color: $dark,
);
$dark: (
  title-color: $white,
  background-color: $dark,
  text-color: $white,
  paragraph-color: $light-grey,
  nav-item-color: $light-grey,
  nav-item-active-color: $white,
);
